.env
*.log
*.csv
*.parquet
.ipynb_checkpoints/
.deepeval
.deepeval_telemtry.txt


.DS_Store
*.json
*.csv
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.pdf

/vector_db
*.bin
*.sqlite3
__pycache__/

.hydra/
*.pickle

test.sh

outputs/
dist/
passage_encoder/
query_encoder/