.body-style {
  background: #1f1f1f;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-style {
  background: #202222;
  background-size: auto;
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}